.header img{
    height: 80px;
    display: block;
    margin: 0 auto;
}
.header nav{
    line-height: 40px;
    background-color: black;
    font-size: 20px;
    margin-top: 10px;
}
.header a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 5px;
}
.header a:hover{
    background-color: gray;
}